// 1.2. Clear Fix
// 	========================== 

.cf:before,
.cf:after {
	display: table;
	content: " ";
}
	
.cf:after { clear: both; }
.cf { *zoom: 1; }
	
// for all
	body {
	box-sizing: border-box;
	font-family: sans-serif;
}
	
a { 
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease; 
}
	
li {
	display: inline-block;
	list-style-type: none;
}

// common styling
.section-heading { font-size: $heading-txt-size; }

.section-heading-subtxt { 
  color: $text-color;
  font-size: $heading-subtxt-size; 
}

// for wrapper
.wrapper {
	max-width: 1360px;
	width: 85%;
	margin: 0 auto;
}
	