// colors
$text-color: #999;
$primary-color: #e33d26;
$secondary-color: #000;
$white: #fff;
$indent: -9999px;

// fonts size
$heading-txt-size: 25px;
$heading-subtxt-size: 27.5px;


//breakpoints
$breakpoints: (
  desktop: 1280px,
  desktop-mini: 1024px,
  ipad-mini: 995px,
  tablet: 768px,
  mobile: 540px,
  mobile-small: 480px,
);