// 1.2. Clear Fix
// 	========================== 

.cf:before,
.cf:after {
	display: table;
	content: " ";
}
	
.cf:after { clear: both; }
.cf { *zoom: 1; }
	
// for all
	body {
	box-sizing: border-box;
	font-family: sans-serif;
}
	
a { 
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease; 
}
	
li {
	display: inline-block;
	list-style-type: none;
}

// common styling
.section-heading { font-size: $heading-txt-size; }

.section-heading-subtxt { 
  color: $text-color;
  font-size: $heading-subtxt-size; 
}

.heading-txt { 
  padding-top: 15px;
  font-size: 24px;

  & a {
    color: $secondary-color;
  }

  & a:hover {
    color: $primary-color;
    @include hover_effect(995px){
      @include transition-hover();
    }
  }

}

.heading-subtxt { 
  color: $grey-subtxt;
  font-size: 24px;
}

.navbar {
  a.color-primary { color: $primary-color ;}
}
// for wrapper
.wrapper {
	max-width: 1360px;
	width: 78%;
	margin: 0 auto;
}
	