/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

li {
  display: inline-block;
  list-style-type: none;
}

.section-heading {
  font-size: 25px;
}

.section-heading-subtxt {
  color: #999;
  font-size: 27.5px;
}

.heading-txt {
  padding: 15px 0 5px;
  font-size: 24px;
}
.heading-txt a {
  color: #000;
}
.heading-txt a:hover {
  color: #e33d26;
}
@media only screen and (min-width: 995px) {
  .heading-txt a:hover {
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.contact-us {
  color: #666;
  text-decoration: underline;
}
@media only screen and (min-width: 995px) {
  .contact-us:hover {
    color: #000;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.heading-subtxt {
  color: #a5a5a4;
  font-size: 24px;
}
@media only screen and (max-width: 995px) {
  .heading-subtxt {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .heading-subtxt {
    font-size: 18px;
  }
}
@media only screen and (max-width: 540px) {
  .heading-subtxt {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .heading-subtxt {
    font-size: 15px;
  }
}

.recipe-name {
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.1;
}
.recipe-name a {
  color: #000;
}
@media only screen and (min-width: 995px) {
  .recipe-name a:hover {
    color: #e33d26;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.chef {
  font-size: 12px;
  font-weight: 300;
}

.time {
  color: #767676;
  font-size: 11px;
  font-weight: 300;
}

.navbar a.color-primary {
  color: #e33d26;
}

.wrapper {
  max-width: 1360px;
  width: 78%;
  margin: 0 auto;
}

header {
  position: inherit;
}
header .wrapper {
  width: 96.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  header .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.logo {
  padding: 18px 42px 20px 0;
  border-right: 1px solid #6B6B69;
}
@media only screen and (max-width: 540px) {
  .logo {
    border-right: none;
  }
}

.search-form {
  padding-left: 43px;
  position: relative;
  display: flex;
  flex-basis: 31.7%;
}
@media only screen and (max-width: 1280px) {
  .search-form {
    flex-basis: 70%;
  }
}
@media only screen and (max-width: 540px) {
  .search-form {
    order: 3;
    flex-grow: 1;
  }
}

.search-container {
  flex-grow: 1;
}

#search-field {
  width: 100%;
  height: 30px;
  border: none;
}
#search-field:focus {
  outline: none;
}

::placeholder {
  color: #999;
  font-size: 18px;
}
@media only screen and (max-width: 1280px) {
  ::placeholder {
    font-size: 14px;
  }
}

.search-btn {
  border: none;
  background: none;
  text-indent: -9999px;
  outline: none;
}
.search-btn::before {
  content: "\f002";
  position: absolute;
  bottom: 10px;
  left: 24px;
  color: #999;
  font-family: "fontAwesome";
  font-size: 19px;
  float: left;
  text-indent: 0;
}
@media only screen and (max-width: 540px) {
  .search-btn::before {
    bottom: 9px;
    left: 36px;
  }
}

.error-msg {
  display: none;
}

.navbar {
  margin-left: auto;
}
@media only screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }
}
.navbar__links {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .navbar__links {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    text-align: center;
  }
}
.navbar li {
  margin: 27px 21px 0px 0px;
  font-size: 12px;
  font-weight: 900;
}
@media only screen and (max-width: 1280px) {
  .navbar li {
    margin: 27px 17px 0px 0px;
  }
}
.navbar .recipe-box {
  padding: 15px 20px;
  margin-top: 10px;
  border: 1px solid #000000;
  border-bottom: 0px;
  text-align: center;
}
.navbar .recipe-box:hover {
  background-color: #eee;
  cursor: pointer;
}
.navbar .log-in {
  display: block;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
.navbar a {
  color: #666;
  font-size: 12px;
  font-weight: 700;
}
@media only screen and (max-width: 1280px) {
  .navbar a {
    font-size: 10px;
  }
}
@media only screen and (min-width: 995px) {
  .navbar a:hover {
    color: #000;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.banner {
  position: relative;
}
.banner__figure {
  height: 484px;
}
@media only screen and (max-width: 768px) {
  .banner__figure {
    height: auto;
  }
}
.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .banner .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.banner__recipe-container {
  position: absolute;
  top: 80px;
  right: 80px;
}
@media only screen and (max-width: 768px) {
  .banner__recipe-container {
    position: unset;
  }
}
.banner__recipe-container__recipe-card {
  max-width: 320px;
  padding: 51px 32px 40px;
  position: relative;
  background: #fff;
}
@media only screen and (max-width: 768px) {
  .banner__recipe-container__recipe-card {
    max-width: none;
  }
}
@media only screen and (max-width: 995px) {
  .banner__recipe-container__recipe-card {
    padding: 61px 0 10px;
  }
}
.banner__recipe-container__recipe-card__badge {
  width: 108px;
  height: 108px;
  padding: 40px 10px 0;
  border-radius: 54px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: #e33d26;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
}
.break {
  display: block;
}

@media only screen and (max-width: 768px) {
  .banner__recipe-container__recipe-card__badge {
    right: 50%;
    transform: translate(50%, -50%);
  }
}
.banner__recipe-container__recipe-card__content {
  text-align: center;
}
.recipe-card__heading {
  font-size: 29px;
  font-weight: 300;
  line-height: 1.35;
}
.recipe-card__heading a {
  color: #000;
  font-weight: 300;
}
@media only screen and (min-width: 995px) {
  .recipe-card__heading a:hover {
    color: #e33d26;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.recipe-card-subtxt {
  padding: 12px 0 16px;
  color: #76747B;
  font-size: 16px;
}

.recipe-card__author-figure img {
  width: inherit;
  border-radius: 50px;
}
.recipe-card__author-figure figcaption {
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner__social-links {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
@media only screen and (max-width: 768px) {
  .banner__social-links {
    position: unset;
  }
}
@media only screen and (max-width: 995px) {
  .banner__social-links li:first-child {
    padding-bottom: 10px;
    display: block;
  }
  .banner__social-links li:nth-child(2) {
    padding-left: 12%;
  }
}
.icons {
  background-color: #000;
  color: #fff;
  text-indent: -9999px;
}
.icons::before {
  font-family: "fontAwesome";
  font-size: 14px;
  float: left;
  text-indent: 0;
}
.icons:hover {
  background-color: #e33d26;
  color: #000;
}

.bookmark-icon {
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 12px;
  text-indent: 0;
}
.bookmark-icon::before {
  content: "\f02e";
  padding-right: 7px;
}

.fb-icon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  vertical-align: middle;
}
.fb-icon::before {
  content: "\f39e";
  width: 100%;
  height: 100%;
  padding-top: 10px;
  text-align: center;
}

.pintrest-icon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  vertical-align: middle;
}
.pintrest-icon::before {
  content: "\f231";
  width: 100%;
  height: 100%;
  padding-top: 10px;
  text-align: center;
}

.forward-icon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  vertical-align: middle;
}
.forward-icon::before {
  content: "\f064";
  width: 100%;
  height: 100%;
  padding-top: 10px;
  text-align: center;
}

.what-to-cook {
  background-color: #f5f1ee;
}
.what-to-cook {
  padding-top: 52px;
  text-align: center;
}
.what-to-cook .wrapper {
  border-bottom: 7px solid #000;
}
.what-to-cook__heading {
  font-size: 42px;
  font-weight: 900;
}
@media only screen and (max-width: 768px) {
  .what-to-cook__heading {
    font-size: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .what-to-cook__heading {
    font-size: 20px;
  }
}
.what-to-cook__heading-subtxt {
  padding-bottom: 52px;
  font-size: 13px;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .what-to-cook__heading-subtxt {
    padding: 10px 0 25px;
    font-size: 12px;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 480px) {
  .what-to-cook__heading-subtxt {
    padding: 10px 0 16px;
    font-size: 10px;
    line-height: 1.3;
  }
}

.sams-suggestion {
  background-color: #f5f1ee;
}
.sams-suggestion .wrapper {
  border-bottom: 7px solid #000;
}
.sams-suggestion__recipe-cards {
  padding-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 995px) {
  .sams-suggestion__recipe-cards {
    flex-direction: column;
    align-items: center;
  }
}
.sams-suggestion__recipe-cards__recipe-card {
  margin-right: 2.2%;
  border: 1px solid #ccc;
  flex-basis: 23.35%;
  background-color: #fff;
}
@media only screen and (max-width: 995px) {
  .sams-suggestion__recipe-cards__recipe-card {
    width: 70%;
    margin: 5px 0;
  }
}
@media only screen and (max-width: 768px) {
  .sams-suggestion__recipe-cards__recipe-card {
    width: 85%;
  }
}
@media only screen and (max-width: 540px) {
  .sams-suggestion__recipe-cards__recipe-card {
    width: 100%;
  }
}
.sams-suggestion__recipe-cards__recipe-card:last-child {
  display: none;
}
.sams-suggestion__recipe-cards__recipe-card:nth-child(4) {
  margin-right: 0;
}
.arrow-left {
  display: none;
}

.sams-suggestion .arrow-right {
  text-indent: -9999px;
}
.recipe-card-info {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  min-height: 125px;
}

.card-bookmark {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.bookmark-icons {
  color: #a5a5a4;
  text-indent: -9999px;
}
@media only screen and (min-width: 995px) {
  .bookmark-icons:hover {
    color: #000;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.bookmark-icons::after {
  content: "\f02e";
  font-family: "fontAwesome";
  font-size: 16px;
  float: left;
  text-indent: 0;
}

.sams-newsletter {
  padding: 28px 74px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1280px) {
  .sams-newsletter {
    padding: 28px 12px;
  }
}
@media only screen and (max-width: 1024px) {
  .sams-newsletter {
    flex-direction: column;
    align-items: center;
  }
}

.newsletter-grey-txt {
  display: block;
}

.sams-suggestion__newsletter-form {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .sams-suggestion__newsletter-form {
    padding-top: 15px;
  }
}
.email-container {
  width: 245px;
}

.email-field {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #ccc;
}

.newsletter-bold-txt {
  font-weight: 700;
}
@media only screen and (max-width: 1280px) {
  .newsletter-bold-txt {
    font-size: 14px;
  }
}

.sams-suggestion .newsletter-grey-txt {
  color: #a5a5a4;
  font-size: 13px;
}
.sams-suggestion .newsletter-grey-txt a {
  color: #666;
  text-decoration: underline;
}
@media only screen and (min-width: 995px) {
  .sams-suggestion .newsletter-grey-txt a:hover {
    color: #000;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.popular-recipes {
  background-color: #f5f1ee;
}
.popular-recipes .wrapper {
  padding-bottom: 71px;
  border-bottom: 7px solid #000;
}
.popular-recipes__cards {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
}
@media only screen and (max-width: 995px) {
  .popular-recipes__cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.popular-recipes__cards__card {
  margin: 0 2.1% 32px 0;
  flex-basis: 48.9%;
}
.popular-recipes__cards__card:nth-child(even) {
  margin-right: 0;
}
@media only screen and (max-width: 995px) {
  .popular-recipes__cards__card {
    width: 80%;
    margin-right: 0;
  }
}
.popular-recipe-card-content {
  height: 161px;
  padding: 30px 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 995px) {
  .popular-recipe-card-content {
    padding: 15px 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .popular-recipe-card-content {
    padding: 10px 15px;
  }
}

.popular-recipe-card-heading {
  font-size: 24px;
}
@media only screen and (max-width: 995px) {
  .popular-recipe-card-heading {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .popular-recipe-card-heading {
    font-size: 18px;
  }
}

.editors-collection-cta {
  text-align: center;
}

.cooking-guide {
  background-color: #f5f1ee;
}
.cooking-guide__cards {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
}
@media only screen and (max-width: 995px) {
  .cooking-guide__cards {
    flex-direction: column;
    align-items: center;
  }
}
.cooking-guide__cards__card {
  margin-right: 2.1%;
  flex-basis: 23.4%;
}
.cooking-guide__cards__card:last-child {
  display: none;
}
.cooking-guide__cards__card:nth-child(4) {
  margin-right: 0;
}
@media only screen and (max-width: 995px) {
  .cooking-guide__cards__card {
    width: 80%;
    margin: 15px 0;
  }
}
.cooking-guide__cards__card__content {
  max-height: 122px;
  padding: 13px 13px 55px;
  background-color: #000;
  color: #fff;
}
@media only screen and (max-width: 995px) {
  .cooking-guide__cards__card__content {
    padding: 20px;
    text-align: center;
  }
}
.cooking-guide-card-heading {
  padding: 3px 0;
  font-weight: 700;
}

.cooking-guide-author {
  font-size: 12px;
  font-weight: 300;
}

.card-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cooking-guide-cta {
  padding: 40px 0 50px;
  text-align: center;
}
@media only screen and (max-width: 995px) {
  .cooking-guide-cta {
    padding: 10px 0 25px;
  }
}

.footer__main {
  padding: 40px 0 50px;
  background-color: #e5e7e2;
}
@media only screen and (max-width: 995px) {
  .footer__main {
    text-align: center;
  }
}
@media only screen and (max-width: 995px) {
  .footer__main {
    text-align: center;
  }
}
.footer__main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
@media only screen and (max-width: 995px) {
  .footer__main .wrapper {
    flex-direction: column;
  }
}
.newsletter-heading {
  font-size: 21px;
  font-weight: 300;
}

.newsletter-subtxt {
  display: block;
  padding: 15px 0 28px;
  font-size: 15px;
  color: #666;
}

.footer__main__newsletter__newsletter-form {
  display: flex;
}
@media only screen and (max-width: 995px) {
  .footer__main__newsletter__newsletter-form {
    justify-content: center;
  }
}
.newsletter-email-container {
  width: 250px;
}

.email-field {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #ccc;
}

.footer__main__social-links__links {
  padding-bottom: 22px;
  border-bottom: 1px solid #acaaad;
}
@media only screen and (max-width: 995px) {
  .footer__main__social-links__links {
    padding-top: 22px;
  }
}
.footer-icon {
  width: 50px;
  height: 50px;
  margin: 0 6px;
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #5b575c;
  text-indent: -9999px;
}
@media only screen and (min-width: 995px) {
  .footer-icon:hover {
    color: #fff;
    background-color: #5b575c;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.footer-icon::after {
  width: 100%;
  height: 100%;
  padding-top: 13px;
  text-align: center;
  font-family: "fontAwesome";
  font-size: 22px;
  float: left;
  text-indent: 0;
}

.pintrest::after {
  content: "\f231";
}

.facebook::after {
  content: "\f39e";
}

.twitter::after {
  content: "\f099";
}

.large-txt {
  display: block;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.footer-end {
  background-color: #272228;
  padding: 20px 0;
}
@media only screen and (max-width: 1024px) {
  .footer-end {
    text-align: center;
  }
}
.footer-end .wrapper {
  width: 96.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
@media only screen and (max-width: 1024px) {
  .footer-end .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-end__right {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-end__left, .footer-end__right {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .footer-end__left__links, .footer-end__right__links {
    display: flex;
    flex-direction: column;
  }
}
.footer-end__left__links a, .footer-end__right__links a {
  padding: 0 18px;
  border-right: 1px solid #999;
  color: #fff;
  font-size: 13px;
}
.footer-end__left__links a.bold-link, .footer-end__right__links a.bold-link {
  font-weight: 800;
}
.footer-end__left__links a.border-none, .footer-end__right__links a.border-none {
  border-right: none;
}
@media only screen and (min-width: 995px) {
  .footer-end__left__links a:hover, .footer-end__right__links a:hover {
    color: #e33d26;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
@media only screen and (max-width: 1280px) {
  .footer-end__left__links a, .footer-end__right__links a {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-end__left__links a, .footer-end__right__links a {
    border-right: none;
  }
}

.sign-up-btn {
  padding: 0 12px;
  margin-left: 16px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: #e33d26;
  font-size: 14px;
  white-space: nowrap;
}
@media only screen and (min-width: 995px) {
  .sign-up-btn:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.btn-primary {
  padding: 10px 12px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #e33d26;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}
.btn-primary:before {
  font-family: "fontAwesome";
  font-size: 16px;
  float: left;
  text-indent: 0;
  content: "\f02e";
  padding-right: 9px;
}
@media only screen and (min-width: 995px) {
  .btn-primary:hover {
    background-color: #000;
    color: #e33d26;
  }
}
@media only screen and (max-width: 995px) {
  .btn-primary {
    font-size: 10px;
  }
}

.btn-large {
  padding: 12px 30px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
}
@media only screen and (max-width: 480px) {
  .btn-large {
    padding: 12px 20px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 995px) {
  .btn-large:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.download-btn {
  padding: 5px 10px 5px 40px;
  margin-top: 13px;
  border-radius: 5px;
  position: relative;
  background-color: #acaaad;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
@media only screen and (min-width: 995px) {
  .download-btn:hover {
    background-color: #000;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.download-btn::before {
  content: "\f179";
  padding-right: 20px;
  position: absolute;
  top: 6px;
  left: 10px;
  font-family: "fontAwesome";
  font-size: 28px;
  float: left;
  text-indent: 0;
}

.hamburger {
  display: none;
}
.hamburger:hover + .navbar {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .hamburger {
    margin-left: auto;
    display: block;
    flex-basis: 10%;
  }
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background-color: #000;
  text-indent: -9999px;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
