.cooking-guide {
  position: relative;
  background-color: $bg-color;
  
  @include breakpoints(ipad-mini) { text-align: center; }


  &__cards {
    padding-top: 45px;
    
    @include flex(normal, normal) { flex-wrap: wrap; }

    @include breakpoints(ipad-mini){
      padding-top: 10px;
      flex-direction: column;
      align-items: center;
    }

    &__card {
      margin-right: 2.1%;
      flex-basis: 23.4%;

      &:last-child { display: none; } 
      &:nth-child(4) { margin-right: 0; }

      @include breakpoints(ipad-mini) {
       & {
          width: 80%;
          margin: 15px 0;
       }
      }

      &__content {
        max-height: 122px;
        padding: 13px 13px 55px;
        background-color: $secondary-color;
        color: $white;

        @include breakpoints(ipad-mini) {
          padding: 20px;
          text-align: center;
        }
      }

      @at-root
      .cooking-guide-card-heading {
        padding: 3px 0;
        font-weight: 700;
      }

      @at-root
      .cooking-guide-author {
        font-size: 12px;
        font-weight: 300;
      }

      @at-root
      .card-subtitle {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &__figure {
        position: relative;

        &::after {
          position: absolute;
          right: 10px;
          bottom: 10px;
          color: $white;
          @include font_icons(30px) { 
            content:"\f144";
          }
          cursor: pointer;
        }

        &:hover::after {
            @include hover_effect(995px) {
            color: $secondary-color;
          }
        }
      }
    }
  }

  @at-root
  .cooking-guide-cta { 
    padding: 40px 0 50px;
    text-align: center; 

    @include breakpoints(ipad-mini) {
      & { padding: 10px 0 25px; }
    }
  }

  &__arrow-left { display: none; }

  &__arrow-right { 
    text-indent: $indent;

    &::after {
      
      @include hover_effect(995px) {
        content: "\f105";
        padding:  5px 10px 5px 5px;
        position: absolute;
        top: 43.7%;
        right: 8%;
        background-color: $white;
        color: $download-btn-color;
        @include font_icons(30px)

      }

    }
    &:hover::after {
      @include hover_effect(995px) {
        background-color: $secondary-color;
        color: $white;
        @include transition-hover()
      }
    }
  }
}